# Terraform files
05_Azure_IaC_Project_ASP.NET_Website/MyPortfolioAppTerraformIaC/.terraform*
05_Azure_IaC_Project_ASP.NET_Website/MyPortfolioAppTerraformIaC/terraform.tfs*

06_Azure_IaC_Project_StaticWebsite/01_LinuxVM_Deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/01_LinuxVM_Deployment/terraform.tfs*
06_Azure_IaC_Project_StaticWebsite/01_LinuxVM_Deployment/module_deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/01_LinuxVM_Deployment/module_deployment/terraform.tfs*

06_Azure_IaC_Project_StaticWebsite/02_LoadBalancer_WindowsVMs_Deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/02_LoadBalancer_WindowsVMs_Deployment/terraform.tfs*

06_Azure_IaC_Project_StaticWebsite/03_WebApp_Deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/03_WebApp_Deployment/terraform.tfs*
06_Azure_IaC_Project_StaticWebsite/03_WebApp_Deployment/module_deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/03_WebApp_Deployment/module_deployment/terraform.tfs*

06_Azure_IaC_Project_StaticWebsite/04_AzureFirewall_WindowsVM_Deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/04_AzureFirewall_WindowsVM_Deployment/terraform.tfs*

06_Azure_IaC_Project_StaticWebsite/05_AzureApplicationGateway_WindowsVM_Deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/05_AzureApplicationGateway_WindowsVM_Deployment/terraform.tfs*

# Other Files
10_Pipeline/

# Azure App Credentials File
02.2_PowerShell_In_Depth/2. Storage Accounts and VMs/02_usingApplicationObject.ps1
02.2_PowerShell_In_Depth/3. Web App & SQL database/02_usingApplicationObject.ps1
02.2_PowerShell_In_Depth/4. Networking/1. Load Balancer/02_usingApplicationObject.ps1
02.2_PowerShell_In_Depth/4. Networking/2. VM Scale Set/02_usingApplicationObject.ps1
02.2_PowerShell_In_Depth/4. Networking/3. Traffic Manager/02_usingApplicationObject.ps1
02.2_PowerShell_In_Depth/4. Networking/4. Virtual Network Peering/02_usingApplicationObject.ps1
02.2_PowerShell_In_Depth/4. Networking/5. Azure Application Gateway/02_usingApplicationObject.ps1
02.2_PowerShell_In_Depth/4. Networking/6. Azure Firewall/02_usingApplicationObject.ps1

