# Terraform files
05_Azure_IaC_Project_ASP.NET_Website/MyPortfolioAppTerraformIaC/.terraform*
05_Azure_IaC_Project_ASP.NET_Website/MyPortfolioAppTerraformIaC/terraform.tfs*

06_Azure_IaC_Project_StaticWebsite/01_LinuxVM_Deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/01_LinuxVM_Deployment/terraform.tfs*
06_Azure_IaC_Project_StaticWebsite/01_LinuxVM_Deployment/module_deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/01_LinuxVM_Deployment/module_deployment/terraform.tfs*

06_Azure_IaC_Project_StaticWebsite/02_LoadBalancer_WindowsVMs_Deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/02_LoadBalancer_WindowsVMs_Deployment/terraform.tfs*

06_Azure_IaC_Project_StaticWebsite/03_WebApp_Deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/03_WebApp_Deployment/terraform.tfs*
06_Azure_IaC_Project_StaticWebsite/03_WebApp_Deployment/module_deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/03_WebApp_Deployment/module_deployment/terraform.tfs*

06_Azure_IaC_Project_StaticWebsite/04_AzureFirewall_WindowsVM_Deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/04_AzureFirewall_WindowsVM_Deployment/terraform.tfs*

06_Azure_IaC_Project_StaticWebsite/05_AzureApplicationGateway_WindowsVM_Deployment/.terraform*
06_Azure_IaC_Project_StaticWebsite/05_AzureApplicationGateway_WindowsVM_Deployment/terraform.tfs*

# Other Files
10_Pipeline/

